services:
  postgres:
    image: postgres:15
    container_name: my-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: datilio_db_2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - datilio-net
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - datilio-net
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: datilio-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    networks:
      - datilio-net
    restart: unless-stopped
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:8000
    container_name: datilio-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - datilio-net
    restart: unless-stopped

  frontend_admin:
    build:
      context: ./frontend_admin
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8000/api/v1
    container_name: datilio-frontend-admin
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - datilio-net
    restart: unless-stopped

volumes:
  pgdata:
  redis_data:

networks:
  datilio-net:
    driver: bridge

